/* css */ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');


        *{box-sizing: border-box}

        .h1 {
            font-family: sans-serif;
            text-align: center;
            font-size: medium;
            color: #000;
        }

        .container{width: 300px;
                   overflow: hidden;
                   margin: 50px auto 0 auto;
                  }
        .container span{width: 100%;
                  display: block;
                  text-align: center;
                  font-family:'open-sans', sans-serif;
                  color: #8086ED;
                  background-color: #DBDBDC;
                 }
        .container .box:hover{background: rgba(10, 10, 10, 0.5);
                              color: gold;
                            
                } /* the gold, need to be #fffffff /\*/

        button {background: #fc0e28;
                  color: greenyellow;
                /* the greenyellow, need to be #fffffff /\*/
                  font-weight: bold;
                  border: 1px solid yellowgreen;
                  cursor: pointer;
                  width: 200px;
                  height: 40px;
                  font-size: 22px;
                  display: block;
                  margin: 10px auto;
               }

        .win{background:#f9690e; color: #ffffff;}      



        .footer-container-desktop {
             background-color: #dbdbdc;
             color: #8086ed;
             margin-top: 90px;
             height: 150px;
        }

        .footer-container-desktop ul {
             list-style: none;
             text-align: left;
             margin-top: 30px;
        }

        .footer-container-desktop il {
             justify-content: center;
             vertical-align: middle;
             letter-spacing: 1px;
             font-size: 21;
        }

        .footer-ctas {
             float: left;
        }

