   @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

        *{
             margin: 0;
             padding: 0;
             border: 0;
        }

        body{
             font-family: open-sans;
             color: #000;
        }
/*
        .box-sizing {
             box-sizing: 140px; 
             box-align:center  border-box
          }
*/
         .h2 {
            font-family: sans-serif;
            text-align: center;
            font-size: medium;
            color: #000;
        }
        
        #logo{
             float: left;
             font-size: 280%;
             margin-left: 30px;
        }
        
        #menu{
             font-size: 110%;
             list-style-type: none;
             letter-spacing: 4px;
        }

        #logo, #menu {
             line-height: 75px;
        }

        #menu li {
             float: right;
             margin-right: 30px;
        }

        #menu a {
             text-decoration: none;
             color: inherit;
        }

        #menu a:hover{
             border-bottom: 2px  solid #000;
        }

        .active{
             border-bottom: 2px solid #000;
        }

        .container{
               width: 300px;
               overflow: hidden;
               margin: 50px auto 0 auto;
          }

        .container span{
               width: 100%;
               display: block;
               text-align: center;
               font-family:'open-sans', sans-serif;
               color: #8086ED;
               background-color: #DBDBDC;
          }

        .container .box:hover{
               background: rgba(10, 10, 10, 0.5);
               color: gold;
                            
          } /* the gold, need to be #fffffff /\*/

        .button{
               background: #fc0e28;
               color: greenyellow;
                /* the greenyellow, need to be #fffffff /\*/
               font-weight: bold;
               border: 1px solid yellowgreen;
               cursor: pointer;
               width: 200px;
               height: 40px;
               font-size: 22px;
               display: block;
               margin: 10px auto;
          }

        .win{
             background:#f9690e; color: #ffffff;
          }      


/*---------------------------  Footer  ---------------------------------------*/
         
        .footer{
             height: 120px;
        }

        .social-networks{
             text-align: center;
        }

        .social-networks li{
             display: inline;
        }

        .social-networks i {
             font-size: 160%;
             margin: 1%;
             padding: 5%;
             color: #000;
        }
/*
        .footer-container-desktop {
             background-color: #dbdbdc;
             color: #8086ed;
             margin-top: 90px;
             height: 150px;
             float: inline-end;
        }

        .footer-container-desktop ul {
             list-style: none;
             text-align: center;
             margin-top: 30px;
        }

        .footer-container-desktop il {
             justify-content: center;
             vertical-align: middle;
             letter-spacing: 1px;
             font-size: 21;
        }

*/
        

