   @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

        * {
             margin: 0;
             padding: 0;
             border: 0;
          }

        body {
             font-family: open-sans;
             color: black;
             background-color: #B0C4DE;
          }

        
        html,body {
          height: 100%;
        }

        #Header {
          width: 960px;
          height: 150px;
        }
        #Cotent {
          height: 100%;
          width: 960px;
        }
        .section {height:100vh;
        }


        h1 {
          text-align: center;
          font-style: italic;
          color: #ffffff;
        }

        h6 {

          size: bold;
          text-align: center;
          font-style: italic;
          color: #ffffff;
        }

        h2 {
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          text-transform: uppercase;
          letter-spacing: 4px;
          color: #555555;
        }
        h4,h5,h6 {
          font-family: Georgia, 'Times New Roman', Times, serif;
        }
 /*------------------------ js table --------------------------------*/      
        .board {
            margin: 20px auto;
          }

        .board .box-row {
            clear: both;
            width: 200px;
            height: 60px;
            margin: 0 auto;
          }

        .board .box-row .box {
            display: block;
            height: 50px;
            width: 50px;
            background-color: #fff;
            border: 1px solid #333;
            margin: 5px;
            float: left;
            line-height: 50px;
            text-align: center;
          }

        .clear {
            clear: both;
          }

        .score {
            clear: both;
            margin: 20px auto;
            width: 300px;
            text-align: center;
          }

        #turn {
            margin: 20px auto;
            font-weight: bold;
            text-align: center;
            font-size: 16px;
          }

        #pop-up {
          margin: 20px auto;
          font-weight: bold;
          text-align: center;
          font-size: 18px;
          left: 20px;
        }

  /*----------------------- logo' & Menu-------------------------------*/      
        #logo {
             float: left;
             font-size: 280%;
             margin-left: 30px;
          }
        
        #menu {
             font-size: 110%;
             list-style-type: none;
             letter-spacing: 4px;
          }
         
        
        #menu li {
            margin-right: 30px;
          }
        
        #menu a {
             text-decoration: none;
             color: green;
          } 
        

        #menu a:hover {
             border-bottom: 2px  solid #777777;
          }

        .active {
             border-bottom: 2px solid #777777;
        }

        .win {
             background-color: #f9690e !important; 
             color: #ffffff !important;
        }     
/*------------------------- Image Index  -------------------------------------*/
        .jumbotron-fluid {
          margin:  auto;
          width: 690px;    
          }

        .landing {
          position: relative;
          height: auto;
          width: 100%;
          padding: 30px 30px 30px 30px;
          border: 1px solid coral;
          background-color: #F0F8FF;
          
        }
        

/*------------------------ Image Contact ------------------------------------*/ 
        .modal-hide {
          margin:  auto;
          width: 700px;
        }

        .img-fluid {
          position: absolute;
          height: 500px;
          left: 50px;
          width: calc(100% - 100px);
          border: 1px solid coral;
          padding: 25px;
          background-color: #F0F8FF;  
          }

/*--------------------------- Contact  --------------------------------------*/ 
          
        .rules-modal-content {
            background-color: #777777;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #007bff;
            width: 70%;
          }

        form {
            width: 100%;
            padding-left: 50%;
            padding-right: 50%;
            text-align: center;
            margin-bottom: 25px;
            position: absolute;
          }
          
/*---------------------------  Footer  ---------------------------------------*/
        .footer{
             height: 150px;
          }

        .social-networks {
             text-align: center;
        }

        .social-networks li {
             display: inline;

        }
        .social-networks i {
             font-size: 3rem;
             margin: 1%;
             padding: 5%;
             color: #777777;
        }
        

