/* css */ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');


        *{box-sizing: border-box}

        .h1 {
            font-family: sans-serif;
            text-align: center;
            font-size: medium;
            color: #000;
        }

        .container{width: 300px;
                   overflow: hidden;
                   margin: 50px auto 0 auto;
                  }
        .container span{width: 100%;
                  display: block;
                  text-align: center;
                  font-family: 'open-sans', sans-serif;
                  color: #8086ED;
                  background-color: #DBDBDC;
                 }
        .container .box:hover{background: rgba(10, 10, 10, 0.5);
                              color: #ffffff;
                            
                }

        button {background: #fc0e28;
                  color: #ffffff;
                  font-weight: bold;
                  border: 1px solid yellowgreen;
                  cursor: pointer;
                  width: 200px;
                  height: 40px;
                  font-size: 22px;
                  display: block;
                  margin: 10px auto;
               }

        .win{background:#f9690e; color: #ffffff;}      
/*
<!---- !! HTML !! ----> 

<!-- Beef here wiht the </style> -->
    </style>
<!--   /\  may be in the worng place -->

</head>

    <body>
        <div class= " container" id">
<!-- will show X or O on the div click -->        
        
        <span id="turn">Play</span> 

        <div class="box" id="box1"></div>
        <div class="box" id="box2"></div>
        <div class="box" id="box3"></div>
        <div class="box" id="box4"></div>
        <div class="box" id="box5"></div>
        <div class="box" id="box6"></div>
        <div class="box" id="box7"></div>
        <div class="box" id="box8"></div>
        <div class="box" id="box9"></div>
        
        </div>
<!-- Play Again or reset All must be ready -->
         
        <button onclick="replay()">Paly Again</buttton>
*/
    
/*
<script>

        var turn = document.getElementById("turn"),
    // boxes => all boxes 
    // X_or_O => to set X or  into the box
                 boxes = documnet.querySelwctorAll("#main div"), X_or_O = 0;

<!-- Will have to see is this will work may need .function -->        

        function selectWinnerBoxes(b1, b2, b3){
            b1.classsList.add("win");
            b2.classsList.add("win");
            b3.classsList.add("win");
            turn.innerHTML = b1.innerHTML + "Won Congrats";
            turn.style.fontSize = "40px";
        }

        function getWinner(){
            van box1 = document.getElementById("box1");
            van box2 = document.getElementById("box2");
            van box3 = document.getElementById("box3");
            van box4 = document.getElementById("box4");
            van box5 = document.getElementById("box5");
            van box6 = document.getElementById("box6");
            van box7 = document.getElementById("box7");
            van box8 = document.getElementById("box8");
            van box9 = document.getElementById("box9");

    // get all possibilities    
                              
            if(box1.innerHTML !== "" && box1.innerHTML === box2.innerHTML && box1,innerHTML === box3.innerHTML)
            selectWinnerBoxes(box1,box2,box3);

            if(box4.innerHTML !== "" && box4.innerHTML === box5.innerHTML && box4,innerHTML === box6.innerHTML)
            selectWinnerBoxes(box4,box5,box6);

            if(box7.innerHTML !== "" && box7.innerHTML === box8.innerHTML && box7,innerHTML === box9.innerHTML)
            selectWinnerBoxes(box7,box8,box9);

            if(box1.innerHTML !== "" && box1.innerHTML === box4.innerHTML && box1,innerHTML === box7.innerHTML)
            selectWinnerBoxes(box1,box4,box7);

            if(box2.innerHTML !== "" && box2.innerHTML === box5.innerHTML && box2,innerHTML === box8.innerHTML)
            selectWinnerBoxes(box2,box5,box8);

            if(box3.innerHTML !== "" && box3.innerHTML === box6.innerHTML && box3,innerHTML === box9.innerHTML)
            selectWinnerBoxes(box3,box6,box9);

            if(box1.innerHTML !== "" && box1.innerHTML === box5.innerHTML && box1,innerHTML === box9.innerHTML)
            selectWinnerBoxes(box1,box5,box9);

            if(box3.innerHTML !== "" && box3.innerHTML === box5.innerHTML && box3,innerHTML === box7.innerHTML)
            selectWinnerBoxes(box3,box5,box7);   
          
        }

    // set event onclick

        for( var i = 0; i < boxes.legth; i++){
            boxes [i].onclick = funtion(){

    // not allow to change this value for this box

            if(this.innerHTML !== "X" && this.innerHTML !== "O"){
            if(X_or_O%2 === 0){
                console.log(X_or_O);
                this.innerHTML = "X";
                turn.innerHTML = "O Turn Now";
                getWinner ();
                X_or_O += 1;
            } 
                
            eles{
                console.log(X_or_O);
                this.innerHTML = "O";
                turn.innerHTML = "X Turn Now";
                getWinner();
                 X_or_O += 1;}
            }
        };
        
    }

        function replay(){
            for(var i = 0; i < boxes.length; i++){
                boxes[i].classList.remove("win");
                boxes[i].classHTML = "";
                turn.innerHTML = "Play";
                turn.style.fontSize = "25px"
            }

        function replay(){
            for(var i = 0; i < boxes.lenght; i++){
                boxes [i].class
            }
        }    
    }



    <!-- Beef here wiht the </style> form the one a the top -->
        </style>
    <!--   /\  may be in the worng place -->

    </script>

    </body>

*/

<!--- footer--> 


.footer-container-desktop {
    background-color: #dbdbdc;
    color: #8086ed;
    margin-top: 90px;
    height: 150px;
}

.footer-container-desktop ul {
    list-style: none;
    text-align: left;
    margin-top: 30px;
}
.footer-container-desktop il {
    justify-content: center;
    vertical-align: middle;
    letter-spacing: 1px;
    font-size: 21;
}
.footer-ctas {
    float: left;
}

</style>

<script src="assets/js/script.js"></script>
</html>